<?xml version="1.0"?>
<config>
  <modules>
    <MageLine_Sellsy>
      <version>1.0.2</version>
    </MageLine_Sellsy>
  </modules>
  <global>
    <blocks>
			<sellsy>
				<class>MageLine_Sellsy_Block</class>
			</sellsy>
		</blocks>
    <helpers>
      <sellsy>
        <class>MageLine_Sellsy_Helper</class>
      </sellsy>
    </helpers>
    <models>
      <sellsy>
        <class>MageLine_Sellsy_Model</class>
		<resourceModel>mageline_sellsy_resource</resourceModel>
      </sellsy>
	  <mageline_sellsy_resource>
		<class>MageLine_Sellsy_Model_Resource</class>
		<entities>
		  <products>
			<table>mageline_sellsy_products</table>
		  </products>
		  <taxes>
			<table>mageline_sellsy_taxes</table>
		  </taxes>
		  <attributes>
			<table>mageline_sellsy_attributes</table>
		  </attributes>
		  <product_attributes>
			<table>mageline_sellsy_product_attributes</table>
		  </product_attributes>
		  <orders>
			<table>mageline_sellsy_orders</table>
		  </orders>
		  <customers>
			<table>mageline_sellsy_customers</table>
		  </customers>
		  <invoices>
			<table>mageline_sellsy_invoices</table>
		  </invoices>
		  <payments>
			<table>mageline_sellsy_payments</table>
		  </payments>
		  <creditmemos>
			<table>mageline_sellsy_creditmemos</table>
		  </creditmemos>
		</entities>
	  </mageline_sellsy_resource>
    </models>
	
	<resources>
	  <mageline_sellsy_setup>
		<setup>
		  <module>MageLine_Sellsy</module>
		</setup>
	  </mageline_sellsy_setup>
	</resources>
  </global>
    <adminhtml>
          <acl>
            <resources>
              <all>
                <title>Allow Everything</title>
            </all>
              <admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<sellsy translate="title" module="sellsy">
											<title>Sellsy API</title>
											<sort_order>0</sort_order>
										</sellsy>
									</children>
								</config>
							</children>
						</system>
					</children>
              </admin>
            </resources>
          </acl>
	  </adminhtml>
    <frontend>
      <routers>
        <mageline_sellsy>
          <use>standard</use>
          <args>
            <module>MageLine_Sellsy</module>
            <frontName>sellsy</frontName>
          </args>
        </mageline_sellsy>
      </routers>
    </frontend>
</config> 